absl-py
airsim
astor
astunparse
bleach
cached-property
cachetools
certifi
cffi
charset-normalizer
cloudpickle
cycler
dataclasses
decorator
dotmap
enum34
filelock
flatbuffers
gast
glcontext
glfw==1.8.6
google-auth
google-auth-oauthlib
google-pasta
grpcio
gym
gym3
h5py
html5lib
idna
imageio
imageio-ffmpeg==0.3.0
importlib-metadata
Keras-Applications
keras-nightly
Keras-Preprocessing
kiwisolver
Markdown
matplotlib
moderngl
mpi4py
msgpack-python
msgpack-rpc-python
networkx
numpy
nvidia-ml-py
oauthlib
opencv-contrib-python
opencv-python
opt-einsum
pandas
Pillow
procgen
protobuf
psutil
pyasn1
pyasn1-modules
pycparser
pygame
pyglet==1.5.15
pyparsing
python-dateutil
pytz
pyqt5==5.12.3
PyQtWebEngine==5.12.1
PyWavelets
requests
requests-oauthlib
rsa
scikit-image
scipy
six
tensorboard==1.12.0
tensorflow-estimator==2.0.0
tensorflow-gpu==1.4.0
tensorflow-tensorboard==0.4.0
termcolor
tifffile
torch
torchvision
tornado
typing-extensions
urllib3
Werkzeug
wincertstore
wrapt
zipp
